

<body style="background-color:gainsboro">
<h1 class="text-center" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">"Motown Est."</h1>

<h2 class="text-center"style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">The Who, When and Where:</h2>



<h3 class="text-center" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    Fall of 2017, three Detroiters came up with a idea to continue to recycle the sounds of classic motown hits beyond Detroit city limits. 
    Those three Detroiters are Ernest, Serena and Trenton.  Comprised of the three, the start-up the company Motown Est. was created.  
    They developed a website that would depict their passion for their city and exude one's love for old school music.
    Motown Est. website allows customers to buy and sell collectable vinyl Motown albums.  The website caters to those whom have a knack for motor city soul.
    Motown Est. accepts all major credit cards.   Currently Motown Est. only ships within the U.S.

</h3>







</body>


       

