@{
    ViewBag.Title = "Vintage Motown Collection";
}

<div class="browsetitle">
    <div> <h2>@ViewBag.Title</h2> </div>
</div>









<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">
        @foreach (var Element in ViewBag.ItemList)
        {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @Element.Album
                        </h4>
                        <p class="group inner list-group-item-text">
                            @Element.Artist
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $@Element.Price
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="/Home/Cart?AddProduct=@Element.Album" >Add to cart</a>
                            </div>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>

