@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="container-fluid">
    <div class="row">
        <div id="test" class="col-4-md">

        one
        </div>
        <div id="test" class="col-4-md">
            two

        </div>
        <div id="test" class="col-4-md">
            three

        </div>
        <div id="test" class="col-4-md">
            four

        </div>
        <div id="test" class="col-4-md">
            five

        </div>
        <div id="test" class="col-4-md">
            six

        </div>
    </div>






</div>