
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMR.Models.AlbumInfo

<h2>Checkout</h2>

@foreach(var Element in ViewBag.PList){

   <h2> @Element.Album</h2> 
   <h2> @Element.Year</h2>


    
}

<h3> Current Total: $ @ViewBag.Sum</h3>

