
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model VMR.Models.AlbumInfo

<h2>Checkout</h2>

@for(var i=0; i< ViewBag.PList; i++){

   <h1> i.Album;</h1> 
   <h2> i.Year;</h2>




}

