
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Keep an eye for your email! Our staff will follow up with you within three business days!</h2>
<p>In the meantime, feel free to check out our current</p> collection

