
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thank You!</h3>
<h2>Your order has processed! A confirmation email has been sent the address you provided!</h2>

<p>In the meantime, feel free to continuing browisng our current <a href="\Home\Browse">selection</a>. </p>

