@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vintage Motown Records</h1>
    <p class="lead">Vintage Motown Records is a great tool to buy and sell original Motown Vinyl Records.
    We have a vast selection of your favorite Motown hits!.</p> @*just test info.. you can reword or rewrite..*@

</div>

<div class="center text-center">
<form action="/Home/ProcessForm" method="post">

    @*<input id="one" type="submit" value="Add Music!" /><br />

    <input id="two" type="submit" value="Browse Music!" /><br />*@
    <button class="btn btn-primary btn-lg" id="one"type="submit"> Add Music</button>
    <button class="btn btn-primary btn-lg" id="two"type="submit"> Browse Music</button>
</form>
</div>

<p><a href="https://asp.net">Learn more &raquo;</a></p>