@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vintage Motown Records</h1>
    <p class="lead">Vintage Motown Records is a great tool to buy and sell original Motown Vinyl Records.
    We have a vast selection of your favorite Motown hits!.</p> @*just test info.. you can reword or rewrite..*@

</div>

<div class="center text-center">


    <button class="btn btn-primary btn-lg" id="one" type="submit" OnClick=" location.href='/Home/Sell'"> Add Music</button>
    <button class="btn btn-primary btn-lg" id="two"type="submit" OnClick=" location.href='/Home/Browse'" > Browse Music</button>




</div>



<p><a href="https://asp.net">Learn more &raquo;</a></p>